header {
  min-height: 720px;
  padding-top: 7rem;
  overflow: hidden;
}

/* ---------------CTA---------------- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
}

/* -----------Header Socials------------ */
.header__socials {
  align-items: center;
  gap: 0.8rem;
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 3rem;
}

.header__socials::before,
.header__socials::after {
  content: '';
  display: block;
  height: 1px;  
  width: 5rem;
  background-color: var(--color-primary);  /* This is the color of the line. Change as desired */
  margin-top: 10px;  /* Optional: adds some space above the line */
  margin-bottom: 10px; 
  
}

.light-mode .header__socials::before,
.light-mode .header__socials::after {
  
  background-color: var(--color-bg-secondary);  /* This is the color of the line. Change as desired */
  margin-top: 10px;  /* Optional: adds some space above the line */
  margin-bottom: 10px; 
  
}

/* -------------- profile__img---------------- */
.header__container .profile__img {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem;
  position: absolute;
  border-radius: 1rem 12rem 1rem 12rem;
  overflow: hidden;
}

.header__container .smallscreen_img{
  display: none;
}

.scroll__down {
  margin-left: 155%;
  margin-top: 56%;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--color-primary);
  padding: .7rem 1rem .4rem 1rem;
  animation: animate__down infinite 2s;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  header {
    height: auto;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .header__container .profile__img{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 2rem;
  }

  .header__container h1,
  .header__container h5
  {
    text-align: center;
  }

  .header__container .smallscreen_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    margin-left: 2.5rem;
  }
}

/* ---------------------Animations ---------------- */
@keyframes animate__down {

  0%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}