* {
  --primary-color: #0D174B;
  --main-white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

button {
  margin-top: 2rem;
  color: var(--main-white);
  background: var(--primary-color);
  padding: 1rem;
  border-radius: .5rem;
  border: none
}

:root {
  --primary-color: #0D174B;
  --main-grey: #C4C4C4;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Social-link {
  height: 2rem;
  padding: .5rem;
  fill: var(--primary-color);
}